
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
   font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  

}
.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  text-shadow: 2px 4px 10px rgba(12, 8, 8, 0.5);
  
}
.chonburi-short {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-shadow: 2px 4px 10px rgba(12, 8, 8, 0.5);

}

.yusei-magic-regular {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.textarea-placeholder::placeholder {
  color: #fefcbf; /* Light yellow color */
  opacity: 0.5; /* Ensures full opacity for Firefox */
}
